<template>
  <MyContainer>

    <com-table  ref="table" :columnUrl="columnUrl" :dataUrl="dataUrl"
                :checkList.sync="checkList" :baseParams="baseParams"
                @click="callFunction" @disableFn="disableFn"
                >

    </com-table>

    <OpenBase ref="baseForm" :baseForm="form" @submit="submitEvent"></OpenBase>

  </MyContainer>
</template>

<script>
import { list${BusinessName}, get${BusinessName}, del${BusinessName}, add${BusinessName}, update${BusinessName} } from "@/api/${moduleName}/${businessName}";
import MyContainer from '@/components/my-container'
import OpenBase from "@/views/openBase";
import {mixin} from "@/views/base";
import ComTable from "@/components/control/table";

export default {
  name: "${BusinessName}",
    #if(${dicts} != '')
      dicts: [${dicts}],
    #end
  components: {ComTable, OpenBase, MyContainer},
  mixins: [mixin],
  data() {
    return {
      //列地址
      columnUrl: "/${moduleName}/${businessName}/index",
      //数据地址
      dataUrl: "/${moduleName}/${businessName}/list",

      //请求基础参数
      baseParams: {path: "/${moduleName}/${businessName}/index"},
      // 按钮loading
      buttonLoading: false,
      // 遮罩层
      loading: true

    };
  },
  methods: {
    /**
     *
     * 根据名称调用函数
     *
     * */
    callFunction(functionName, item, data) {
      let methods = this.$options.methods
      const _this = this;
      methods[functionName](_this, item, data)
    },
    /** 新增按钮操作 */
    handleAdd(_this, item, data) {
      _this.setFormItem(_this, item, data)
    },

    /** 修改按钮操作 */
    handleUpdate(_this, item, row) {
      if (!row) {
        row = _this.checkList[0];
      }
      const ${pkColumn.javaField} = row.${pkColumn.javaField}
      get${BusinessName}(${pkColumn.javaField}).then(response => {
        const data = response.data
        _this.setFormItem(_this, item, data)
      });
    },
    /** 删除按钮操作 */
    handleDelete(_this, item, row) {

      let ${pkColumn.javaField}s = [];

      ${pkColumn.javaField}s = _this.checkList.map(item => item.${pkColumn.javaField})

      del${BusinessName}(${pkColumn.javaField}s.join(",")).then(() => {
        _this.getTableData()
        _this.msgSuccess("删除成功");
      }).catch(() => {
      })

    },
    /** 提交按钮 */
    submitForm(_this) {
      if (_this.form.fields.${pkColumn.javaField} != undefined) {
        update${BusinessName}(_this.form.fields).then(res => {
          _this.msgSuccess("修改成功");
          _this.form.open = false;
          _this.getTableData()
        });
      } else {

        add${BusinessName}(_this.form.fields).then(res => {
          _this.msgSuccess("新增成功");
          _this.form.open = false;
          _this.getTableData()
        });
      }
    },
    /**
     * 表单提交按钮事件
     * @param fnName 提交事件名称
     */
  submitEvent(fnName){
    this.callFunction(fnName)
  },
    /**
     * 按钮禁用情况控制
     * @param args
     * @param callback
     */
  disableFn(args,callback){
    const {item,checkData} = {...args}

    //控制添加按钮
    if(item.btnId === 'add'){
      if(this.checkList && this.checkList.length > 0){
        callback(false);
      }else{
        callback(true)
      }
    }
  }
  }
}
</script>
